@import "tailwindcss";

:root {
  --background: #FDFDFD;
  --foreground: #333333;
  --primary: #EE9CA7;
  --primary-light: #FFDDE1;
  --border: #F0F0F0;
  --text-secondary: #666666;
}

@theme inline {
  /* Background and Foreground */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Primary Colors (Lovacation Brand) */
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);

  /* Border */
  --color-border: var(--border);

  /* Text Colors */
  --color-text-primary: var(--foreground);
  --color-text-secondary: var(--text-secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: theme(screens.md)) {
  body {
    background: radial-gradient(var(--color-primary), transparent);
  }
}
